<template name="staff_tickets">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Manage Tickets</h3>
	  </div>
	  <div class="panel-body">
	    <table class="table table-hover">
	      <thead>
	      	<tr>
	      		<td>#</td>
	      		<th>Subject</th>
	      		<th>Date Opened</th>
	      		<th>Status</th>
	      	</tr>
	      </thead>
	      <tbody>
	      	{{#each tickets}}
	      		<tr>
	      			<td>{{_id}}</td>
	      			<td><a href="{{pathFor 'show_ticket'}}">{{subject}}</a></td>
	      			<td>{{formatDate createdAt}}</td>
	      			<td>{{capFirst status}}</td>
	      			<td><button id="close_ticket" type="button" class="btn btn-danger">Close</button></td>
	      		</tr>
	      	{{else}}
	      		<tr rowspan="3">
	      			There are no opened tickets
	      		</tr>
	      	{{/each}}
	      </tbody>
	    </table>
	  </div>
	</div>
</template>