<template name="login">
{{#if currentUser}}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Welcome Back</h3>
	  </div>
	  <div class="panel-body">
	    {{userEmail}}
	    <hr>
	    <button type="button" id="sign_out" class="btn btn-primary">Sign Out</button>
	  </div>
	</div>
{{else}}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Customer Login</h3>
	  </div>
	  <div class="panel-body">
		<div id="sign-in">
			<form class="form-signin">
			  <h2 class="form-signin-heading">CustoAdmin Login</h2>
			  <label for="inputEmail" class="sr-only">Email address</label>
			  <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
			  <label for="inputPassword" class="sr-only">Password</label>
			  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

			  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			  <hr>
			  <p>No account? <a href="#" id="register_link">Create account</a></p>
			</form>
		</div>
		<div id="register" style="display:none;">
			<form class="form-register">
			  <h2 class="form-signin-heading">CustoAdmin Login</h2>
			  <label for="inputEmail" class="sr-only">Email address</label>
			  <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
			  <label for="password" class="sr-only">Password</label>
			  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
			  <label for="password2" class="sr-only">Password Confirm</label>
			  <input type="password2" name="password2" id="password2" class="form-control" placeholder="Password Confirm" required>

			  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
			  <hr>
			  <p>Allready registered? <a href="#" id="signin_link">Sign in</a></p>
			</form>
		</div>
	  </div>
	</div>
{{/if}}

</template>