<template name="create_department">
	<form role="form" id="create_department_form">
		<legend>Add a Department</legend>
	
		<div class="form-group">
			<label for="dept_name_field">Name</label>
			<input type="text" class="form-control" id="dept_name_field" name="dept_name_field" placeholder="Department Name">
		</div>
		<div class="form-group">
			<label for="dept_head_field">Dept. Head</label>
			<input type="text" class="form-control" name="dept_head_field" id="dept_head_field" placeholder="Department Head">
		</div>		
	
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
</template>